#header {
  height: 112px;
  background-color: #11335f;
  border-bottom: 1px solid #ffffff;
}

#main {
  background-color: #11335f;
  padding-bottom: 32px;
}

#access {
  padding-top: 24px;
  padding-bottom: 24px;
}

#access #ferry-tab {
  position: relative;
  padding-left: 64px;
  padding-right: 16px;
}

#access #ferry-tab::before {
  content: '';
  left: 12px;
  top: 50%;
  position: absolute;
  display: inline-block;
  background: url("../images/ferry.svg") no-repeat;
  height: 40px;
  width: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#access #passenger-ship-tab {
  position: relative;
  padding-left: 64px;
  padding-right: 16px;
}

#access #passenger-ship-tab::before {
  content: '';
  left: 12px;
  top: 50%;
  position: absolute;
  display: inline-block;
  background: url("../images/passenger_ship.svg") no-repeat;
  height: 40px;
  width: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#access .access-container {
  text-align: left;
}

#access .access-container .access-note {
  background-color: #f7b52c;
  padding: 1% 2%;
  margin-bottom: 16px;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  #access .access-container .access-note {
    padding: 2% 4%;
  }
}

#access .access-container .access-note p {
  text-decoration: underline;
}

#access .access-container .access-note span {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 414px) {
  #access .access-container .access-note span {
    display: block;
    margin-top: 16px;
  }
}

#access .access-container .access-note dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 414px) {
  #access .access-container .access-note dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#access .access-container .access-note dl dt {
  font-weight: normal;
  width: auto;
}

@media screen and (max-width: 414px) {
  #access .access-container .access-note dl dt {
    margin-top: 16px;
  }
}

#access .access-container .access-note dl dd {
  margin-left: 16px;
  width: auto;
}

#access .access-container .aceess-title {
  position: relative;
  padding-left: 40px;
  margin-bottom: 16px;
  font-size: 1.4rem;
  border-bottom: 2px solid #f7b52c;
}

#access .access-container .car::before {
  content: '';
  left: 0;
  top: 50%;
  position: absolute;
  display: inline-block;
  background: url("../images/car.svg") no-repeat;
  height: 32px;
  width: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#access .access-container .train::before {
  content: '';
  left: 0;
  top: 50%;
  position: absolute;
  display: inline-block;
  background: url("../images/train.svg") no-repeat;
  height: 32px;
  width: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#access .access-container .bus::before {
  content: '';
  left: 0;
  top: 50%;
  position: absolute;
  display: inline-block;
  background: url("../images/bus.svg") no-repeat;
  height: 32px;
  width: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#access .access-container .method {
  margin: 8px 2% 0;
}

#access .access-container .method .detail {
  margin-bottom: 16px;
}

#access .access-container .method .detail .detail-title {
  font-size: 1.2rem;
}

@media screen and (max-width: 414px) {
  #access .access-container .method .detail p:not(:first-of-type) {
    margin-top: 16px;
  }
}

#access .access-container .map {
  margin-bottom: 16px;
}

#access .access-container .map iframe {
  padding: 0 2%;
  width: 100%;
}
/*# sourceMappingURL=access.css.map */