#header {
  height: 112px;
  background-color: #1f2f54;
  border-bottom: 1px solid #ffffff;
}

#main {
  background-color: #1f2f54;
  padding-bottom: 32px;
}

#program {
  padding-top: 24px;
}

#program .program-container {
  margin: 40px 0;
  text-align: left;
}

#program .program-container .program-contents {
  background-color: #ffffff;
}

#program .program-container .program-contents .program-description {
  margin-bottom: 48px;
}

#program .program-container .program-contents .program-description .program-title {
  text-align: center;
  color: #26272c;
  position: relative;
  padding: 2px 0 12px;
  background: #f7b52c;
}

@media screen and (max-width: 400px) {
  #program .program-container .program-contents .program-description .program-title {
    font-size: 1.2rem;
  }
}

#program .program-container .program-contents .program-description .program-title::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
}

#program .program-container .program-contents .program-description .program-title .title-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#program .program-container .program-contents .program-description .program-title .title-items .main {
  font-size: 1.5rem;
  padding-right: 8px;
}

@media screen and (max-width: 400px) {
  #program .program-container .program-contents .program-description .program-title .title-items .main {
    font-size: 1.3rem;
    padding-right: 0;
  }
}

#program .program-container .program-contents .program-description .program-title .title-items .sub {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #program .program-container .program-contents .program-description .program-title .title-items .sub {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  #program .program-container .program-contents .program-description .program-title .title-items .sub {
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 768px) {
  #program .program-container .program-contents .program-description .program-title .title-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#program .program-container .program-contents .program-description .program-title .start-time {
  font-size: 0.8rem;
  position: absolute;
  top: 6px;
  left: 12px;
  background-color: #c1473a;
  color: #ffffff;
  padding: 3px 8px;
  height: 28px;
  width: 72px;
  border-radius: 4px;
}

@media screen and (max-width: 400px) {
  #program .program-container .program-contents .program-description .program-title .start-time {
    font-size: 0.7rem;
    top: 8px;
    left: 8px;
    padding: 0;
    height: 20px;
    width: 64px;
  }
}

#program .program-container .program-contents .program-description .program-detail {
  color: #26272c;
  padding: 16px;
}

#program .program-container .program-contents .program-description .program-detail .song {
  margin-top: 16px;
}

#program .program-container .program-contents .program-description .program-detail .trader {
  font-size: 0.8rem;
  color: #a9a9a9;
}
/*# sourceMappingURL=program.css.map */