@charset "utf-8";

$base-color: #1f2f54;
$main-color: #f7b52c;
$accent-color: #0abab5;
$white: #ffffff;
$black: #26272c;
$red: #c1473a;
$dark-gray: #a9a9a9;
$light-gray: #dedede;
$transparent-gray: #ccc4c4c4;
