@charset "utf-8";
@import "_breakpoints.scss";
@import "_colors.scss";
@import "_mixin.scss";

// header.
#header {
    height: 80px;
    background-color: $base-color;
}

// main.
#main {
    background-color: $base-color;
    padding-bottom: 32px;
}

// access.
#access {
    padding: 24px 0px;

}
