@charset "utf-8";
@import "_breakpoints.scss";
@import "_colors.scss";
@import "_mixin.scss";

// common.
.date {
    font-size: 4.0rem;
    letter-spacing: 1.0;
    padding: 0 2px;

    @include mq(md) {
        font-size: 2.0rem;
        padding: 0;
    }

    @include mq(sm) {
        font-size: 1.2rem;
        padding: 0;
    }
}

.day {
    font-size: 4rem;
    font-weight: bold;
    color: $main-color;

    @include mq(md) {
        font-size: 2.8rem;
    }

    @include mq(sm) {
        font-size: 1.6rem;
    }
}

@keyframes headerTitleGradation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

// header.
#header {
    position: relative;

    .main-visual {
        background-image: url(../images/index-firework.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 100vh;
        width: auto;
    }

    .header-title {
        position: absolute;
        inset: 0;
        top: 50%;
        text-align: center;
        font-size: 6.0rem;
        line-height: 1.3;
        transform: translateY(-50%);
        background: -webkit-linear-gradient(
            60deg,
            $main-color,
            #ffdc00,
            #ee7700,
            #c2e5fa,
            #51a5dd,
            #261f87,
            #008554,
            $accent-color
        );
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: headerTitleGradation 10s infinite;

        @include mq(sm) {
            font-size: 4.0rem;
        }
    }

    .building-image {
        @include insertBuildingImg('building-black.svg');
    }
}

// main.
#main {
    background-color: $base-color;
    padding-bottom: 32px;

    .reserve-btn {
        position: fixed;
        top: 50%;
        right: 0;
        writing-mode: vertical-rl;
        border-top: 4px solid $main-color;
        border-left: 4px solid $main-color;
        border-bottom: 4px solid $main-color;
        border-radius: 4px 0 0 4px;
        background-color: $white;
        color: $main-color;
        font-weight: bold;
        padding: 16px 8px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 500ms ease;
        z-index: 20;

        &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../images/allow.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .event-day-container {
        background-color: $black;
        text-align: center;
        padding: 12px 0 24px;

        .counter {
            font-size: 2.0rem;
            line-height: 1.0;
            text-align: center;

            @include mq(md) {
                font-size: 1.4rem;
            }

            @include mq(sm) {
                font-size: 1.0rem;
            }
        }

        .evnet-date, .evnet-time {
            font-size: 2.0rem;
            line-height: 1.0;
            margin-top: 8px;

            @include mq(md) {
                font-size: 1.4rem;
            }

            @include mq(sm) {
                font-size: 1.0rem;
            }
        }
    }
}

// about.
#about {
    margin-top: 40px;

    .about-container {

        .about-contents {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;

            @include mq(md) {
                flex-direction: column;
            }

            .about-img {
                width: 60%;
                object-fit: cover;

                @include mq(md) {
                    width: 100%;
                }
            }

            .about-description {
                width: 40%;
                padding: 16px 48px;

                @include mq(md) {
                    padding: 16px 24px;
                    width: 100%;
                }
            }
            &:nth-child(odd) {
                .about-img {
                    @include mq(md) {
                        order: 2;
                    }
                }

                .about-description {
                    @include mq(md) {
                        order: 1;
                    }
                }
            }

            &:nth-child(even) {
                .about-img {
                    order: 2;
                }

                .about-description {
                    order: 1;
                }
            }

            .about-title {
                color: $black;
                font-size: 1.8rem;
                position: relative;
                padding: 2px 4px 12px;
                background: $main-color;

                @include mq(md) {
                    font-size: 1.6rem;
                }

                @include mq(sm) {
                    font-size: 1.2rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -12px;
                    left: -12px;
                    width: 100%;
                    height: 100%;
                    border: 4px solid $white;
                }
            }

            .about-detail {
                margin-top: 24px;
                font-size: 1.2rem;

                @include mq(md) {
                    font-size: 1.0rem;
                }

                @include mq(sm) {
                    font-size: 1.0rem;
                }

                span {
                    font-size: 1.5rem;
                    color: $main-color;

                    @include mq(md) {
                        font-size: 1.3rem;
                    }

                    @include mq(sm) {
                        font-size: 1.0rem;
                    }
                }
            }
        }
    }
}

// news.
#news {
    margin-top: 40px;

    dl {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include mq(md) {
            flex-direction: column;
        }

        dt {
            width: 20%;
            font-size: 1.2rem;
            font-weight: normal;
            padding: 16px 0;
            border-bottom: 1px solid $white;

            @include mq(md) {
                text-align: left;
                width: 100%;
                font-size: 1.0rem;
                border-bottom: none;
                padding: 16px 8px 0;

            }

            @include mq(sm) {
                font-size: 0.9rem;
            }

            &:nth-of-type(1) {
                border-top: 1px solid $white;
            }
        }

        dd {
            width: 80%;
            font-size: 1.2rem;
            text-align: left;
            padding: 16px 0;
            border-bottom: 1px solid $white;

            @include mq(md) {
                width: 100%;
                font-size: 1.1rem;
                padding: 4px 8px 16px;
            }

            @include mq(sm) {
                font-size: 1.0rem;
            }

            &:nth-of-type(1) {
                border-top: 1px solid $white;

                @include mq(md) {
                    border-top: none;
                }
            }
        }
    }

    .view-more-wrapper {
        margin-top: 32px;

        .view-more {
            font-size: 1.2rem;
            display: inline-block;
            padding: 16px 64px;
            border: solid 1px $white;

            @include mq(md) {
                font-size: 1.1rem;
            }

            @include mq(sm) {
                font-size: 1.0rem;
                padding: 8px 32px;
            }

            &:hover {
                text-decoration: none;
                border: solid 1px $main-color;
            }
        }
    }
}

// detail.
#detail {
    margin-top: 40px;
    padding-bottom: 16px;

    .detail-container {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        @include mq(sm) {
            flex-direction: column;
        }

        .detail-item {
            position: relative;
            background-color: $black;
            border-radius: 4px;
            padding-top: 16px;
            height: 108px;
            width: 216px;
            transition: all 300ms;

            @include mq(sm) {
                width: 100%;
                margin-top: 8px;
            }

            .detail-item-img {
                height: 24px;
                width: 24px;
            }

            .detail-item-title {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -70%);
                white-space: nowrap;
                font-size: 1.25rem;
                font-weight: bold;

                @include mq(sm) {
                    font-size: 1.0rem;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
